# Use with: idf.py -B build-qemu -D SDKCONFIG_DEFAULTS="profiles/sdkconfig.defaults;profiles/sdkconfig.defaults.qemu" set-target esp32c3
CONFIG_PRG32_DISPLAY_QEMU_RGB=y
CONFIG_PRG32_QEMU_FAIL_ON_REAL_HW=y
CONFIG_PRG32_QEMU_UART_INPUT=y
CONFIG_PRG32_CART_RAM_EXTENDED=y
CONFIG_PRG32_CART_MAX_KIB=64
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PRG32_AUDIO_ENABLED=y
CONFIG_PRG32_AUDIO_SAMPLE_RATE=22050
CONFIG_PRG32_AUDIO_MODE_MONO=y
CONFIG_PRG32_AUDIO_MAX_VOICES=8
CONFIG_PRG32_SPLASH_ENABLED=y
CONFIG_PRG32_SPLASH_DURATION_MS=900
